</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1542204165-65bf26472b9b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80);">
  <div class="container">
    <h1>WatchList</h1>
    <p>Create a list of movies to share with your friends!</p>
  </div>
</div>

<div class="container">
  <div class="cards-container my-4">
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do %>
        <div class="flip-container">
            <div class="flipper" >
              <div class="front">
                <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "#{list.name}.png" %>)">

                </div>
              </div>
              <div class="back">
                <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
                  <%= list.name %>
                </div>
              </div>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<!-- <div class="container">
  <div class="cards-container my-4">
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do %>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "#{list.name}.png" %>)">
          <%= list.name %>
        </div>

      <% end %>
    <% end %>
  </div>
</div>
 -->
